 body {
     background: url('leopard.png');
     background-size: 100%;
     opacity: 1.0;
     font-family: 'Shrikhand', cursive;
     background-attachment: fixed;
 }

 .jumbotron {
     background-color: black;
     color: #ff00aa;
     text-align: center;
 }

 .jumbotron span {
     font-family: 'Monoton', cursive;
     color: #ffaa00;
 }

 .jumbotron p {
     padding: 5%;
 }

 .main {
     background-color: rgba(0, 0, 0, 0.8);
     padding: 5%;
     color: #00aaff;
     text-align: center;
 }

 .main span {
     color: #ffaa00;
     padding-left: 2%;
 }

 .fancy {
 	font-family: 'Monoton', cursive;
 	color: #aa00ff!important;
 }
 